# Propriétaires par zones

# Fichiers Python
*.py @acheraf942

# Documentation
README.md @maelaidibe-wq
*.md @maelaidibe-wq

# Configuration GitHub
/.github/ @acheraf942

# Propriétaires par défaut
* @maelaidibe-wq @acheraf942